<h1>{{encabezado}}</h1>
<h2 class="py-3">Resumen Carrito:</h2>
<div id="productsList"></div>
<button class="btn btn-lg btn-warning mt-4" id="purchaseBtn">REALIZAR COMPRA</button>

<script src="/socket.io/socket.io.js"></script>
<script src="static/js/cart.js"></script>