<h1>Chat</h1>

<div class="d-flex flex-column align-items-between">
    <div class="my-3 d-flex flex-column w-25">
        <label for="autor">User</label><input id="inputUser" name="autor" type="text" disabled>
    </div>

    <div class="vh-53">
        <h3>Mensajes</h3>
        <div id="messages"></div>
    </div>

    <div class="d-flex w-100">
        <input id="inputMessage" class="form-control" name="mensaje" type="text" placeholder="Escribe tu mensaje aquí...">
        <button id="btnSend" class="btn btn-info">Enviar</button>
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="static/js/chat.js"></script>