<h1>{{encabezado}}</h1>
<h2 class="py-3">Ingresa tus datos:</h2>
<main class="form-signin w-50 h-50">
    <form>
        <div class="form-floating">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary my-4" type="submit">Sign in</button>
    </form>
</main>

<script src="/socket.io/socket.io.js"></script>
{{!--
<script src="static/js/login.js"></script> --}}